<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Insert New or Edit Car</title>

</head>

<body>

	<form th:object="${newCar}"	th:action="@{/update/{id}(id=${newCar.id})}" method=POST>
		Name: <input name="name" size="20" th:field="*{owner.name}"><br />
		Phone Number: <input name="phone" size="20" th:field="*{owner.phone}"><br /> 
		Year own: <input name="year" size="20" th:field="*{owner.year}"><br /> 
		Make: <input name="make" size="20" th:field="*{make}"><br />
		Model: <input name="model" size="20" th:field="*{model}"><br />
		Type: <input name="type" size="20" th:field="*{type}"><br /> 
		Status: <input name="status" size="20" th:field="*{status}"><br />
		<input name="Submit" type="submit" value="submit" />

	</form>

	<a href="../viewAll">View All Cars</a>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

</body>
</html>