<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Insert New or Edit Car</title>

</head>

<body>

	<div class="container col-sm-offset-3">
		<h2 class="col-sm-offset-2">Insert a new car</h2>
		<form class="form-horizontal" th:object="${newCar}"
			th:action="@{/update/{id}(id=${newCar.id})}" method="POST">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name: </label>
				<div class="col-sm-4">
					<input class="form-control" name="name" size="20"
						th:field="*{owner.name}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="phone">Phone
					Number: </label>
				<div class="col-sm-4">
					<input class="form-control" name="phone" size="20"
						th:field="*{owner.phone}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="yearown">Year
					own: </label>
				<div class="col-sm-4">
					<input class="form-control" name="year" size="20"
						th:field="*{owner.year}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="make">Make: </label>
				<div class="col-sm-4">
					<input class="form-control" name="make" size="20"
						th:field="*{make}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="model">Model: </label>
				<div class="col-sm-4">
					<input class="form-control" name="model" size="20"
						th:field="*{model}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="type">Type: </label>
				<div class="col-sm-4">
					<input class="form-control" name="type" size="20"
						th:field="*{type}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="status">Status: </label>
				<div class="col-sm-4">
					<input class="form-control" name="status" size="20"
						th:field="*{status}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<input name="Submit" class="btn btn-basic" type="submit"
						value="submit" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<a class="btn btn-info" href="../viewAll">View All Cars</a>
				</div>
			</div>
		</form>

	</div>

</body>
</html>